grant  {
    permission java.util.PropertyPermission "app.id", "read,write";
    permission java.util.PropertyPermission "apollo.meta", "read,write";
    permission java.net.SocketPermission "*", "connect,resolve";
};
